version: 2

updates:
%{~ for update in updates }
  - package-ecosystem: "${update.package_ecosystem}"
%{~ if length(update.directories) > 0 }
    directories:
%{~ for directory in update.directories }
      - "${directory}"
%{~ endfor }
%{~ else }
    directory: "${update.directory}"
%{~ endif }
    schedule:
      interval: "${update.interval}"
%{~ endfor }
